<section>
    <div class="box-title">
        <div class="text-title">
            <p>Experiencia</p>
            <button type="button" class="btn btn-outline-secondary" style="height: 60px;" routerLink="/nuevaExperiencia" *ngIf="isLogged">Agregar Experiencia</button>
        </div>

        <div class="list">
            <ul class="card-list">
                <li *ngFor="let experiencia of experiencia" class="item-list">
                    <div class="item-head">
                        <div class="item-name">
                            <h3></h3>
                        </div>
                        <div class="edit-icons">
                            <button [routerLink]="['/editarExperiencia/', experiencia.id]" routerLinkActive="routerLinkActive" *ngIf="isLogged"><i  class="fa fa-pencil mx-1" aria-hidden="true"></i></button>
                            <button (click)="eliminar(experiencia.id)"><i class="fa fa-trash" aria-hidden="true" style="font-size:24px"></i></button>
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="item-img">
                            <img [src]="experiencia.imagen">
                        </div>
                        <div class="item-texto">
                            <div class="lugar">
                                <p>{{experiencia.lugar}}</p>
                            </div>
                            <div class="item-texto">
                                <div class="puesto">
                                    <p>{{experiencia.puesto}}</p>
                                </div>
                                <div class="descripcion">
                                    <p>{{experiencia.descripcion}}</p>
                                </div>
                                <div class="periodo">
                                    <p>{{experiencia.fecha}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>